<section class="todoapp">

  <header class="header">
      <h1>Gestor de Tareas</h1>
      <input id="new-todo-input" class="new-todo" placeholder="Registrar Tarea" autofocus>
  </header>
  
  <section class="main">
      <input id="toggle-all" class="toggle-all" type="checkbox">
      <label for="toggle-all">Marcar todo como completado</label>
      <ul class="todo-list"></ul>
  </section>

  <footer class="footer">
        
        <ul class="filters">
            <li>
                <span class="todo-count">
                    <strong id="pending-count">0</strong> pendiente(s)
                </span>
            </li>
            <li>
                <a class="filtro">Todos</a>
            </li>
            <li>
                <a class="filtro">Pendientes</a>
            </li>
            <li>
                <a class="filtro">Completados</a>
            </li>
            <li>
                <button class="clear-completed">Borrar completados</button>
            </li>
        </ul>
  </footer>
</section>

<footer class="info">
  <p>Template creado por <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
  <p>Creado por <a href="http://todomvc.com">ti</a></p>
  <p>Parte de <a href="http://todomvc.com">TodoMVC</a></p>
</footer>